<%- include("../includes/header.ejs", {title:"Address - View All"}); %>

<h1>Addresses</h1>
        <a href = "/Address/Add">Add New Address</a> <br/>

        <br />

        <Table Border = "1">
            <tr><th>Name</th><th>Actions</th></tr>
            <%for (var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/Address/?Address_id=<% result[i].Address_id%>"><% =result[i].street %></a></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/address/edit/?address_id=<%= result[i].address_id %>'">Edit</button>
                    <form action="/address/delete/" style="...">
                        <input type="hidden" name="address_id" id="address_id" value="<% result[i].address_id %>" />
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
            <% } %>
        </Table>
<br />
<a href = "/"/>Return to Home Page</a>

<%- include("../includes/footer.ejs"); %>
